# Python Basics

## 1- Data Types, Basic Math and Variable Assignment

### Data Types

In [5]:
# ints are whole numbers
3+1

4

In [9]:
type(3+1)

int

In [6]:
# floats are decimal numbers
3.2 + 3.1

6.300000000000001

In [10]:
type(3.2+3.1)

float

In [7]:
# booleans store True or False

5 < 4

False

In [8]:
5 > 4

True

In [11]:
type(5<4)

bool

In [22]:
# Strings
"Workshop"

'Workshop'

In [23]:
type("Workshop")

str

There are other types of data, but these are the basics

### Basic Math

In [12]:
# Multiplications
3*4

12

In [13]:
# Addition 
3+4

7

In [14]:
# Division 
4/2

2.0

In [17]:
55/2

27.5

In [19]:
# Remainder
6 % 4

2

In [20]:
# Powers

3**2

9

### Variable Assignment

In [24]:
x = 3
y = 4

In [25]:
x

3

In [28]:
# Useful in loops of user-defined functions
print(x)

3

In [29]:
x+y

7

In [32]:
# Redefine
x = 8
x

8

## 2- Conditionals

In [35]:
# Going to the bar 

age = 32

if age < 21:
    
    print("We have fresh made lemonade!")
    
elif age >= 21:
    
    print("Would you like to try some home brewed Beer?")

Would you like to try some home brewed Beer?

In [41]:
# Going to the bar

age = 25
nationality = "Mexican"

if age < 21:
    
    print("We have fresh made lemonade!")
    
elif age >= 21 and nationality != "Mexican":
    
    print("Would you like to try some home brewed Beer?")
    
elif age >= 21 and nationality == "Mexican":
    
    print("We do have good Tequila!")
    
elif age == 25 or nationality == "Mexican":
    
    print("We have something in common!")

We do have good Tequila!

In [43]:
# Going to the bar

age = 25
nationality = "Mexican"

if age < 21:
    
    print("We have fresh made lemonade!")
    
elif age >= 21 and nationality != "Mexican":
    
    print("Would you like to try some home brewed Beer?")
    
elif age >= 21 and nationality == "Mexican":
    
    print("We do have good Tequila!")
    
    if age == 25 or nationality == "Mexican":
    
        print("We have something in common!")

We do have good Tequila!
We have something in common!

**Make your own conditional case!!!**

## 3- Lists
Also considered as vectors

In [61]:
fish = []
fish

[]

In [62]:
type(fish)

list

In [63]:
fish = ['Bass','Trout','Marlin','Tuna']
fish

['Bass', 'Trout', 'Marlin', 'Tuna']

In [64]:
# Python indexes begin in 0
fish[0]

'Bass'

In [65]:
# Append adds elements to the end of the list. Useful when working with loops
fish.append('Tarpon')
fish

['Bass', 'Trout', 'Marlin', 'Tuna', 'Tarpon']

In [66]:
# insert item in a desired place
fish.insert(0,'Largemouth Bass')
fish

['Largemouth Bass', 'Bass', 'Trout', 'Marlin', 'Tuna', 'Tarpon']

In [67]:
# remove from list by index
fish.pop('Largemouth Bass')

# How an Error Looks like

TypeError: 'str' object cannot be interpreted as an integer

In [68]:
remove = fish.index('Largemouth Bass')
fish.pop(remove)
fish

['Bass', 'Trout', 'Marlin', 'Tuna', 'Tarpon']

In [69]:
# It was easier with remove

fish.remove("Trout")
fish

['Trout', 'Marlin', 'Tuna', 'Tarpon']

## 4- Loops

### Through lists

In [75]:
for item in fish:
    print("I like to fish "+item)

I like to fish Trout
I like to fish Marlin
I like to fish Tuna
I like to fish Tarpon

In [73]:
for item in fish:
    if item == "Tuna":
        print("Mmmm I love Tuna Sashimi")

Mmmm I love Tuna Sashimi

In [81]:
for i in range(0,4,2):
    print(i)

0
2

In [78]:
for i in range(0,4,2):
    print(fish[i])

Trout
Tuna

In [83]:
fish_t =[]
for item in fish:
    if item[0]=='T':
        fish_t.append(item)

In [84]:
fish_t

['Trout', 'Tuna', 'Tarpon']

In [113]:
# Using while
while len(fish)<= 10:
    fish.append("Other Fish")
 
fish

['Trout',
 'Marlin',
 'Tuna',
 'Tarpon',
 'Other Fish',
 'Other Fish',
 'Other Fish',
 'Other Fish',
 'Other Fish',
 'Other Fish',
 'Other Fish']

## 5- Built-in Functions

[Built-in Functions](https://www.programiz.com/python-programming/methods/built-in)
You can find all you need in there!

## 6- User-defined Functions (UDF)

In [118]:
# Convert "Going to the bar" into an UDF

def bar(age):

    if age < 21:

        print("We have fresh made lemonade!")

    elif age >= 21:

        print("Would you like to try some home brewed Beer?")

In [119]:
bar(19)

We have fresh made lemonade!

In [116]:
# As complex as you want it to be.

def remove_other_fish(some_fish):
    fish2 = []
    for i in some_fish:
        if i != "Other Fish":
            fish2.append(i)
    
    print(fish2)

In [117]:
remove_other_fish(fish)

['Trout', 'Marlin', 'Tuna', 'Tarpon']

Actually you can create giant UDFs. You can create a script of thousands of lines of code and then import that function into another script without the need of copying thousands of lines.

This is a nice introduction to the concept of [Library](libraries.ipynb)

## 7. Class Exercise

#### Part One

Create a function that:
- Takes a number as parameter
- Checks if the number is even or odd (you can use the remainder "%" or division "/" to check it)
- If the number is odd, then print "It is odd"
- If the number is even, then print " It is even"

#### Part Two

Create a loop that:
- Takes the number 4 and adds itself 10 times
- Prints all the outputs of the addition: 4, 8, 12, 16 ...

#### Part Two

Create a function that:
- Combines both previous exercises 
- Takes a number and the desired number of additions by itself "n". 
    i.e. function(number,n)
- Checks if the number is odd or even
- If the number is even then adds itself "n" times 
- If the number is even then multiplies itself "n" times 
- Prints the output list